@{
    ViewData["Title"] = "Личный кабинет";
}

<div class="container">
    <h2>Личный кабинет</h2>
    <p>Здравствуйте, @User.Identity.Name!</p>
    <p>Здесь будет информация о заказах и личных данных.</p>
</div>